{% extends "base.html" %}

{% block js_css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='beautiful.css') }}" />
{% endblock %}

{% block main %}
<div style="margin:2em;">
  <p><b>Тема проекта:</b> "РАЗРАБОТКА ПРОГРАММНОГО ПАКЕТА ДЛЯ ЭМУЛЯЦИИ МУЗЫКАЛЬНЫХ ИНСТРУМЕНТОВ С ИСПОЛЬЗОВАНИЕМ АДДИТИВНОГО СИНТЕЗА"</p>
  <p><b>Участники:</b> ученики 10 «Т» класса ГБОУ Школы № 1561 Гущин Денис Константинович и Селезнёв Филипп Александрович</p>
  <p><b>Руководитель:</b> педагог ГБОУ Школы № 1561 Дружинина Елена Олеговна</p>
  <p>Москва, 2025</p>
</div>
{% endblock %}