<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Школьный проект SYNTH1561</title>
  <meta name="description" content="Школьный проект SYNTH1561">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script defer src="{{ url_for('static', filename='all.js') }}"></script><!-- fontawesome.com -->
</head>
<body>
  {% block js_css %}{% endblock %}
  <header>
    <h2 style="float:left;"><a href="{{ url_for('index') }}">SYNTH1561</a></h2>
    <div style="float:right; margin:20px;">
      <a href="{{ url_for('docs') }}" style="padding-right:20px;">Документация</a>
      <a href="{{ url_for('about') }}">О проекте</a>
    </div>
  </header>
  {% block main %}{% endblock %}
</body>
</html>