{% extends "base.html" %}

{% block js_css %}
  <script src="{{ url_for('static', filename='drawflow.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='drawflow.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='beautiful.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename='sweetalert2@9.js') }}"></script><!-- https://sweetalert2.github.io/ -->
  <script src="{{ url_for('static', filename='micromodal.min.js') }}"></script><!-- https://micromodal.vercel.app/ -->
  <!-- TODO Скорее всего sweetalert и micromodal друг друга дублируют, попробовать избавиться -->
{% endblock %}

{% block main %}
  <div class="wrapper">
    <div class="col">
      <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="tone">
        <i class="fab fa-facebook"></i><span> Генератор тона</span>
      </div>
      <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="harmonic">
        <i class="fab fa-facebook"></i><span> Генератор гармоники</span>
      </div>
      <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="envelope">
        <i class="fas fa-code"></i><span> Огибающая</span>
      </div>
      <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="mixer">
        <i class="fas fa-code-branch"></i><span> Микшер</span>
      </div>
      <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="sounddevice">
        <i class="fas fa-volume-up"></i><span> Звуковое устройство</span>
      </div>
      <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="dbclick">
        <i class="fas fa-volume-up"></i><span> Devtest</span>
      </div>

    </div>
    <div class="col-right">
      <div class="menu">
        <!-- ul>
          <li onclick="editor.changeModule('Home'); changeModule(event);" class="selected">Home</li>
          <li onclick="editor.changeModule('Other'); changeModule(event);">Other Module</li>
        </ul -->

      </div>
      <div id="drawflow" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="ctrl-btn btn-dev" onclick="backend_dev()">Dev</div>
        <div class="bar-file">
          <i class="fas fa-file" title="Очистить" onclick="editor.clearModuleSelected()"></i>
          <i class="fas fa-file-download" title="Загрузить" onclick="backend_load_preset()"></i>
          <i class="fas fa-file-upload" title="Сохранить" onclick="backend_save_preset()"></i>
        </div>
        <div class="bar-cmd">
          <i class="fas fa-heartbeat" title="Проверить схему" onclick="backend_dev(this)"></i>
          <i class="fas fa-play" title="Синтезировать звук" onclick="backend_play()"></i>
        </div>
        <div class="btn-lock">
          <i id="lock" class="fas fa-lock-open" title="Редактирование разрешено" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
          <i id="unlock" class="fas fa-lock" title="Редактирование запрещено" onclick="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i>
        </div>
        <div class="bar-zoom">
          <i class="fas fa-search-minus" title="Уменьшить масштаб" onclick="editor.zoom_out()"></i>
          <i class="fas fa-search" title="Масштаб по умолчанию" onclick="editor.zoom_reset()"></i>
          <i class="fas fa-search-plus" title="Увеличить масштаб" onclick="editor.zoom_in()"></i>
        </div>
      </div>
    </div>
  </div>

<script>
{% include "index.js"%}
</script>
{% endblock %}